// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: RGBA(39, 39, 39, 1);
	padding: 20px;
	color: white;
}

div {
	background-color: red;
}



